:root {
  --bg--65: #65e4a3;
  --bg--white: #fff;
  --bg--black:#000;
  --bg--0a: #0a2640;
  --bg--77: #777;
  --bg--f1:#f1f1f1;
  --bg--c4:#c4c4c4;
  --bg--4f:#4fe9a4;
}

.dark {
    --bg--65: #8bddb3;
  --bg--white: #4b4848;
  --bg--black:#dfdbff;
  --bg--0a: #8496a7;
  --bg--77: #ad9a9a;
  --bg--f1:#615e5e;
  --bg--c4:#5f5858;
  --bg--4f:#18794d;
}
