@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../components/buttons" as btn;
@use "../layout/grid" as grid;
@use "../layout/forms" as form;
@use "../layout/flex" as flex;

.hero {
  @include mix.bg(no, var(--bg--0a), no);
  @include mix.pad(170px 0 166px);
  &--body {
    @include mix.width(ma, 842px);
    @include mix.ma(0 auto);
    span {
      display: block;
      @include mix.ma(0 0 12px 0);
      @include mix.text(var(--bg--f1), 20px, 400, 32px, center);
    }
    h2 {
      @include mix.text(var(--bg--white), 64px, 400, 84px, center);
      @include mix.ma(0 0 18px 0);
      @media (max-width: 550px) {
        font-size: 45px;
        line-height: 56px;
      }
    }
    p {
      @include mix.text(var(--bg--f1), 16px, 400, 28px, center);
    }
  }
}

.story {
  @include mix.pad(0 0 96px 0);
  &--images {
    transform: translateY(-122px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 50px;
    @media (max-width: 1130px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 300px);
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 300px);
    }

    img {
      @include mix.width(no, 100%);
      @include mix.height(100%);
    }
    img:nth-child(2) {
      grid-column: 2 /3;
      grid-row: 1 /3;
      @media (max-width: 750px) {
        display: none;
      }
    }

    // img:nth-child(5) {
    //   grid-column-start: 3;
    //   grid-column-end: 4;
    //   grid-row-start: 2;
    //   grid-row-end: 3;
    // }
  }
  &--body {
    @include mix.width(ma, 800px);
    @include mix.ma(0 auto);
    span {
      @include mix.text(var(--bg--77), 20px, 400, 32px);
    }
    h2 {
      @include mix.text(var(--bg--black), 48px, 400, 72px);
      @include mix.ma(12px 0 30px);
      @media (max-width: 500px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
    p {
      @include mix.text(var(--bg--77), 20px, 400, 32px);
    }
  }
}

.numbers {
  @include mix.bg(no, var(--bg--0a), no);
  @include mix.pad(96px 0);
  span {
    display: block;
    @include mix.text(var(--bg--f1), 20px, 400, 32px, center);
  }
  h2 {
    @include mix.text(var(--bg--white), 48px, 400, 72px, center);
    @include mix.ma(12px auto 84px);
    @include mix.width(ma, 842px);
    @media (max-width: 450px) {
      font-size: 30px;
      line-height: 30px;
    }
  }
  ul {
    @include flex.flex(no, center, space-between, 20px);
    @include mix.width(no, 100%);
    flex-wrap: wrap;
    @media (max-width: 795px) {
      justify-content: center;
      gap: 50px;
    }
    li {
      @include flex.flex(column, no, no, 32px);
      h3 {
        @include mix.text(var(--bg--4f), 96px, 400, 56px);
        @media (max-width: 450px) {
          font-size: 58px;
          line-height: 40px;
        }
      }
      span {
        @include mix.text(var(--bg--f1), 24px, 400, 36px, left);
      }
    }
  }
}

.team {
  @include mix.pad(96px 0 120px);
  &--body {
    @include mix.width(ma, 800px);
    @include mix.ma(0 auto 52px);
    span {
      @include mix.text(var(--bg--77), 20px, 400, 32px);
    }
    h2 {
      @include mix.text(var(--bg--black), 48px, 400, 72px);
      @include mix.ma(12px 0 23px);
    }
    p {
      @include mix.text(var(--bg--77), 20px, 400, 32px);
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      img {
        @include mix.width(no, 100%);
      }
      p {
        @include mix.ma(24px 0 12px);
        @include mix.text(var(--bg--black), 28px, 400, 48px);
      }
      span {
        @include mix.text(var(--bg--77), 20px, 400, 32px);
      }
    }
  }
}

.values {
  @include mix.bg(no, var(--bg--0a), no);
  @include mix.pad(120px 0);
  margin-bottom: 124px;
  &--body {
    @include mix.width(ma, 800px);
    @include mix.ma(0 auto);
    span {
      @include mix.text(var(--bg--white), 20px, 400, 32px);
    }
    h2 {
      @include mix.ma(12px 0 22px);
      @include mix.text(var(--bg--white), 48px, 400, 72px);
    }
    p {
      @include mix.text(var(--bg--f1), 20px, 400, 32px);
      @include mix.ma(0 0 72px);
    }
    ul {
      @include flex.flex(column, no, no, 72px);
      li {
        @include flex.flex(no, center, no, 50px);
        @media (max-width:590px) {
          flex-direction: column;
        }
        img {
          @include mix.width(no, 150px);
          @include mix.height(150px);
        }
        div {
          h3 {
            @include mix.text(var(--bg--white), 28px, 400, 48px);
            @include mix.ma(0 0 16px);
          }
          p {
            @include mix.text(var(--bg--f1), 20px, 400, 32px);
            margin: 0;
          }
        }
      }
    }
  }
}
