@use "../utils/functions" as func;
@use "../utils/mixins" as mix;
@use "../utils/variables" ;
* {
  margin: 0;
  padding: 0;
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html,
body {
  @include mix.font(O);
  scroll-behavior: smooth;
  background-color: var(--bg--white);
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    text-decoration: underline;
    transform: scale(1.2);
  }
}

.container {
  $padding: 20;
  max-width: func.container(1400, 100, $padding);
  margin: 0 auto;
  padding: 0 $padding + px;
}

h1,
h2,
h3 {
  @include mix.font(M);
}

.backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  opacity: 0;
  box-shadow: 0 0 16px 5px rgba(4, 4, 236, 0.425), inset 0 0 0 3px #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.backtop-show {
  opacity: 1;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(17, 17, 17);
  z-index: 111111;
}

.loader {
  height: 5px;
  width: 50%;
  background: rgb(44, 44, 44);
  position: relative;
  overflow: hidden;
  .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 204, 255) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: light 2s infinite ease-in-out;
  }
}

.loading-none {
  z-index: -111;
}

@keyframes light {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}
